eventlet==0.20.0
Flask==0.12.2
Flask-Cors==3.0.10
Flask-MQTT==1.1.1
Flask-SocketIO==5.0.0
imutils==0.5.3
matplotlib==3.3.3
numpy==1.19.4
opencv-python
python-engineio==4.0.0
python-socketio==5.0.4
requests==2.25.0
scipy==1.5.3
sconfig==0.0.2
SpeechRecognition==3.8.1
websocket-client==0.57.0
